<!doctype html>
<html class="no-js" lang="">

<head>
  <meta charset="utf-8">
  <meta http-equiv="x-ua-compatible" content="ie=edge">
  <title>Sinatra Live !!!!</title>
  <meta name="description" content="">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">


  <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.22.2/moment.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.7.2/Chart.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/chartjs-plugin-annotation/0.5.7/chartjs-plugin-annotation.min.js"></script>

  <style>
  body { background-color: linen;}

   canvas { background:#fff; border:1px solid #ccc; } */
  </style>

</head>

<body>
  <!--[if lte IE 9]>
    <p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="https://browsehappy.com/">upgrade your browser</a> to improve your experience and security.</p>
  <![endif]-->

  <!-- Add your site or application content here -->
  <p>Hello world! This is HTML5 Boilerplate.</p>
  <input type="button" value="Add Data" onclick="adddata()">


  <canvas id="mixed-chart" height="120"></canvas>

  <script>
    var canvas = document.getElementById("mixed-chart").getContext('2d');
    var options = {
      scales: {
            xAxes: [{
                type: 'time',
                time: {
                   unit: 'second',
                   stepSize: 240,
                   displayFormats: { 'second': 'h:mm:ss'}
                },
                ticks: {
                  minRotation: 90
                },
                gridLines: {
                   display:false
                },
                distribution: 'linear'
            }],
            yAxes: [{
             display: true,
             ticks: {
                 min: 95,
                 max: 105
             }
            }]
        },
      legend: {
        display: false
      },
      responsive: true,
      annotation: {
        annotations: [{
          type: 'line',
          mode: 'horizontal',
          scaleID: 'y-axis-0',
          value: 102,
          borderColor: 'rgb(75, 192, 192)',
          borderWidth: 2
        },{
          type: 'line',
          mode: 'horizontal',
          scaleID: 'y-axis-0',
          value: 98,
          borderColor: 'rgb(75, 192, 192)',
          borderWidth: 2
        },{
          type: 'line',
          mode: 'horizontal',
          scaleID: 'y-axis-0',
          value: 99.2,
          endValue: 100.8,
          borderColor: 'red',
          borderWidth: 2
        }]
      }
    }


    var limit = 900; //9140;


    var mydata = [];



    var i;

    for (i = 0; i < limit; i++) {
      mydata.push({
          t: moment('2016-03-12 13:00:00').add(2*i, 'seconds').format(),
          y: (Math.random() * (100.3 - 99.8) + 99.8)//.toFixed(2)
      });




    }


  var myChart = new Chart(canvas, { type: 'line', options });

  var dataSet1 = {
    borderColor: 'blue',
    fill: false,
    showLine: false,
    data: mydata
  }


  myChart.data.datasets.push(dataSet1);
  myChart.update();




function adddata(){
  myChart.data.labels.push(moment().format());
  myChart.data.datasets.forEach((dataset) => {
    dataset.data.push(Math.floor(Math.random() * 60) + 1);
  });
  myChart.update();
}


  </script>


</body>

</html>
