<!doctype html>
<html class="no-js" lang="">

<head>
  <meta charset="utf-8">
  <meta http-equiv="x-ua-compatible" content="ie=edge">
  <title>Sinatra Live !!!!</title>
  <meta name="description" content="">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">


  <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.22.2/moment.min.js"></script>


  <style>
  body { background-color: linen;}

   canvas { background:#fff; border:1px solid #ccc; } */
  </style>

</head>

<body>
  <!--[if lte IE 9]>
    <p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="https://browsehappy.com/">upgrade your browser</a> to improve your experience and security.</p>
  <![endif]-->

  <!-- Add your site or application content here -->
  <p>Hello world! This is HTML5 Boilerplate.</p>
  <input type="button" value="Add Data" onclick="adddata()">


  <div id="chart_div"></div>

  <script>
  // Load the Visualization API and the corechart package.
        google.charts.load('current', {'packages':['corechart']});

        // Set a callback to run when the Google Visualization API is loaded.
        google.charts.setOnLoadCallback(drawChart);

        function drawChart() {
     // Create the data table.
     data = new google.visualization.DataTable();
     data.addColumn('datetime', 'Time');
     data.addColumn('number', 'Mg');
     data.addColumn('number', 'upper');
     data.addColumn('number', 'lower');

      upper = 102;
      lower = 98;
      startTime = moment().format();
     var limit = 60; //9140;
     for (i = 0; i < limit; i++) {
         data.addRow([moment(startTime).add(i, 'minutes').toDate(),
                      (Math.random() * (100.3 - 99.8) + 99.8),
                      lower,
                      upper]);
      }

      chart = new google.visualization.ComboChart(document.getElementById('chart_div'));

      options = {
        title:   'Nozzle 1',
        height:  600,
        seriesType: 'scatter',
        interpolateNulls: true,
        series: {
          1: {
            type: 'line',
            color: 'red',
          },
          2: {
            type: 'line',
            color: 'red',
          }
        },
        hAxis: {
          slantedText: true,
          slantedTextAngle: 90,
          format: 'HH:mm:ss',
          //gridlines: {count: 15}
          viewWindowMode:'explicit',
          viewWindow: {
            min: moment(startTime).toDate(),
            max: moment(startTime).add(1, 'hours').toDate()

          }
          },
          vAxis: {
            viewWindowMode:'explicit',
            viewWindow: {
              min: lower - 2,
              max: upper + 2
            }
          },
            legend: 'none',
            trendlines: { 0: {} }
        };
      //  width    : 1400,
      //  pointSize: 5,
        //vAxis: { title: 'Mg', maxValue: 21.50, minValue: 20.50 },
      //  hAxis: { title: 'Time of day (Hours:Minutes)', format: 'HH:mm', gridlines: {count:9} }
     //};

     var formatNumber = new google.visualization.NumberFormat(
        {prefix: '', negativeColor: 'red', negativeParens: true});

     var formatDate = new google.visualization.DateFormat(
        { prefix: 'Time: ', pattern: "dd MMM HH:mm", });

     formatDate.format(data, 0);
     formatNumber.format(data, 1);

     chart.draw(data, options);
  }  // drawChart


  function adddata(){
    data.addRow([moment('2018-07-06 14:02:00').add(1, 'minutes').toDate(),
                 (Math.random() * (100.3 - 99.8) + 99.8),
                 lower,
                 upper]);
    chart.draw(data, options);
  }




  </script>


</body>

</html>
